body{
    margin: 0;
}

.navbar {
    height: 72px; 
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    background-color: #8cc0ff; 
    color: #323232;
}

.navbar nav a {
    padding: 0 10px; 
    color: #323232; 
    text-transform: uppercase; 
    text-decoration: none;
                
}

.navbar nav a:hover {
    color: blueviolet;
    border-bottom: 1px blueviolet dotted;
}

footer {
    background-color: #323232 !important;
    color: white !important;
}

article {
    text-align: center;
}

article::after {
    display: block;
    content: "";
    border: 3px grey solid;
}

.article-author {
    color: purple; 
    font-weight: bold; 
    font-size: smaller;
}

.article-title {
    color: darkblue;
    font-size: 48px;
    font-weight: 900;
}

.article-image {
    width: 100%; 
    max-height: 300px; 
    object-fit: cover;
}

article section {
    text-align: justify;
    padding: 0 20px;
    color: darkblue; 
    font-size: 24px;
}

article section p:first-child {
    text-indent: 50px;
}
